body{
    background-color: darkorange;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 0;   
    margin:0;
    
}
h1{ 
    justify-content: center;
    padding: 0%;
    align-items: center;
    position: relative;
    left:50%
}

.mainbox{
   background: wheat;
   height:350px;
   width:350px;
   max-width:90%;
   border: 1px solid black;
   padding: 25px;
   /* position: absolute;
   justify-content: center;
   align-items: center; */
}

#question{
background-color: yellow;
position: absolute;
top:100px;
left:50%;

} 
 
.answers{
    background-color: yellow;
    position: absolute;
    top:310px;
    
    
} 

.submit{
    position: relative;
    top: 375px;
}

.reset{
    position: relative;
    top: 375px;
}

.buttonforans{
    display:grid;
   
}